*{
  margin:0;
  padding:0;
}

html{
  font-size:62.5%;
}

body{
  font-size: 1.6rem;
  background-color: #222831;
  color: #eeeeee;
  padding: 4rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app{
  animation-name: popup;
  animation-duration: 1.8s;
}

@keyframes popup {
  from{ opacity:0; transform: translateY(50px);}
  to{opacity: 1; transform: translateY(0px);}
}
